@charset "utf-8";
html,
body {
  margin: 0;
  padding: 0;
  font-family: 'helvetica', sans-serif;
}

#title {
  position: fixed;
  width: 100%;
  height: 90px;
  background: #006cff;
  z-index: 21;
  font-size: 35px;
  padding-top: 10px;
  padding-left: 20px;
  color: #e5f0ff;
}

#button {
  position: absolute;
  right: 5%;
  font-size: 15px;
  padding-left: 20px;
  top: 70px;
}

a {
  color: #e5f0ff;
  padding-left: 20px;
}

.bookmarks {
  font-size: 20px;
  color: #333333;
  font-weight: bold;
  z-index: 20;
  width: 500px;
}

.description {
  z-index: 11;
  width: 300px;
}

.heading {
  color: #333333;
  font-size: 30px;
  /*top: 100px;*/
}

.subheading {
  color: #333333;
  font-size: 20px;
  /*top: 350px;*/
}

.details {
  color: #006cff;
  font-size: 20px;
  /*top: 500px;*/
}

.image {
  width: 140px;
  height: 140px;
  right: 10px;
  bottom: 10px;
  position: fixed;
  z-index: 20;

}

.conclusion {
  width: 300px;
  font-size: 40px;
  font-weight: bold;
}

.wide2 {
  width: 200px;
}
.wide4 {
  width: 400px;
}
.wide5 {
  width: 500px;
}
.wide6 {
  width: 600px;
}
.wide7 {
  width: 700px;
}
